manifest {
    mainScript = 'import.nf'
    nextflowVersion = '>=21.04.0'
}

params {
    max_cores = Runtime.runtime.availableProcessors()
    cores = 1 // Runtime.runtime.availableProcessors().intdiv(4)
    memory = '12'
    help = false
    profile = false
    workdir = false

    // input
    // fasta = ''
    // db = ''
    
    // options
    // update = false
    // force = false
    // debug = false
    // version = false
    
    // data dirs
    cache_dir = '' // cache dir
    algn_dir = 'algn'
    diff_dir = 'diff'
    seq_dir = 'seq'
    // sample_dir = 'samples'

    // softlink results instead of copying
    publish_dir_mode = 'copy' // use 'symlink' to just link the results

    // location for storing the conda environments
    conda_cache_dir = 'conda'
    // location for storing the singularity environments
    singularity_cache_dir = 'singularity'
    // location for nextflow reports
    nf_runinfo_dir = 'Logs'
}

timeline {
    enabled = true
    file = "${params.nf_runinfo_dir}/execution_timeline.html"
}

report {
    enabled = true
    file = "${params.nf_runinfo_dir}/execution_report.html"
}

profiles { 
    // executers

    local {
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }
        includeConfig 'configs/local.config'
    }

//     slurm {
//         executor {
//             name = "slurm"
//             queueSize = 100
//             // exitReadTimeout = "360 sec"
//             // submitRateLimit = '1 / 2 s'
//             // pollInterval = '30 sec'
//         }        
//         process.cache = "lenient"
//         includeConfig 'configs/nodes.config'
//     }
    
    // engines 
    
    conda {
        conda{
            cacheDir = params.conda_cache_dir
            // timeout = '45 min'
        }
        includeConfig 'configs/conda.config'
    }

    docker {
        docker { enabled = true }
        includeConfig 'configs/container.config'
    }

    singularity {
        singularity { 
                enabled = true
                autoMounts = true
                cacheDir = params.singularity_cache_dir
                //runOptions = "-B /tmp/nextflow-nCov-$USER"
        }
        includeConfig 'configs/container.config'
    }

    standard {
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }
        conda { cacheDir = params.conda_cache_dir }
        includeConfig 'configs/local.config'
        includeConfig 'configs/conda.config' 
    }
}